@media only screen and (max-width: 1200px) {
  section#looking-forward-to-2021 .forward-introduction,
  section#looking-forward-to-2021 .sub-container {
    max-width: 550px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* CEO Section */
  section#impact {
    .counter-block {
      margin-top: 20px;
      .counter-a {
        font-size: 20px !important;
      }
      .counter-b {
        font-size: 40px !important;
      }
      .counter-description {
        font-size: 14px;
      }
    }
  }

  /* CEO Section */
  section#tools {
    .col-lg-5 {
      margin-bottom: 1rem;
    }
    .tool-box {
      padding: 24px 30px;
    }
    .tool-box > div {
      display: flex;
      .number {
        font-size: 48px !important;
        font-weight: 900;
        padding-right: 20px;
        line-height: 44px;
      }
      .tool-text {
        width: 100%;
      }
    }
    .tool-box-2 {
      .tool-text {
        width: 100%;
        max-width: 100% !important;
      }
    }
  }

  section#addressing-systemic-racism {
    .first-tool-parent {
      margin-bottom: 16px;
    }
    .tool-box.first-tool {
      .number.clarendon.text-green {
        font-size: 48px !important;
        padding-right: 20px !important;
      }
      margin-bottom: 20px;
    }
    .tool-box.first-tool {
      div {
        display: flex;
        align-items: center;
      }
    }
  }
  section#parallax {
    .fit-img {
      display: block;
    }
    .scroll-container {
      display: none;
    }
  }

  section#forward {
    padding-bottom: 100px;
  }

  footer {
    .download {
      padding: 60px 0;
      button {
        margin-top: 10px !important;
      }
    }
    #backFirstBook {
      display: flex !important;
      margin: 10px auto;
    }
  }

  section#looking-forward-to-2021 .forward-introduction,
  section#looking-forward-to-2021 .sub-container {
    max-width: 100% !important;
  }
  section#looking-forward-to-2021 {
    img#forward-float {
      display: none;
    }
    img {
      display: block;
      margin: 70px auto 50px auto;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .xs-center-flex {
    justify-content: center !important;
  }
  .reverse-flow {
    flex-direction: column-reverse !important;
  }
  .xs-mb-lg {
    margin-bottom: 50px;
  }
  section#diversity {
    #relative {
      left: -60px;
      transform: scale(0.7);
    }
  }
  footer {
    #backFirstBook {
      display: flex !important;
      margin: 20px auto;
    }
    .social-media {
      text-align: center !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .firstbook-main-content {
    h1 {
      font-size: 38px !important;
      line-height: 32px !important;
    }
  }
  section#diversity {
    #relative {
      left: -60px;
      transform: scale(0.6);
    }
  }

  #sidebar-navigation {
    right: -95vw;
    width: 95vw;
    .header-menu-list {
      margin: 50px 40px 40px 40px;
      li {
        font-size: 18px;
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header-menu-list {
    margin: 20px 40px 40px 40px !important;
    li {
      font-size: 16px !important;
      margin-bottom: 16px !important;
    }
  }
}
