@media only screen and (max-width: 1200px) {
  section#looking-forward-to-2021 .forward-introduction,
  section#looking-forward-to-2021 .sub-container {
    max-width: 550px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* CEO Section */
  section#impact .counter-block {
    margin-top: 20px;
  }
  section#impact .counter-block .counter-a {
    font-size: 20px !important;
  }
  section#impact .counter-block .counter-b {
    font-size: 40px !important;
  }
  section#impact .counter-block .counter-description {
    font-size: 14px;
  }
  /* CEO Section */
  section#tools .col-lg-5 {
    margin-bottom: 1rem;
  }
  section#tools .tool-box {
    padding: 24px 30px;
  }
  section#tools .tool-box > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#tools .tool-box > div .number {
    font-size: 48px !important;
    font-weight: 900;
    padding-right: 20px;
    line-height: 44px;
  }
  section#tools .tool-box > div .tool-text {
    width: 100%;
  }
  section#tools .tool-box-2 .tool-text {
    width: 100%;
    max-width: 100% !important;
  }
  section#addressing-systemic-racism .first-tool-parent {
    margin-bottom: 16px;
  }
  section#addressing-systemic-racism .tool-box.first-tool {
    margin-bottom: 20px;
  }
  section#addressing-systemic-racism .tool-box.first-tool .number.clarendon.text-green {
    font-size: 48px !important;
    padding-right: 20px !important;
  }
  section#addressing-systemic-racism .tool-box.first-tool div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#parallax .fit-img {
    display: block;
  }
  section#parallax .scroll-container {
    display: none;
  }
  section#forward {
    padding-bottom: 100px;
  }
  footer .download {
    padding: 60px 0;
  }
  footer .download button {
    margin-top: 10px !important;
  }
  footer #backFirstBook {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 10px auto;
  }
  section#looking-forward-to-2021 .forward-introduction,
  section#looking-forward-to-2021 .sub-container {
    max-width: 100% !important;
  }
  section#looking-forward-to-2021 img#forward-float {
    display: none;
  }
  section#looking-forward-to-2021 img {
    display: block;
    margin: 70px auto 50px auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .xs-center-flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .reverse-flow {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .xs-mb-lg {
    margin-bottom: 50px;
  }
  section#diversity #relative {
    left: -60px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  footer #backFirstBook {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 20px auto;
  }
  footer .social-media {
    text-align: center !important;
  }
}

@media only screen and (max-width: 480px) {
  .firstbook-main-content h1 {
    font-size: 38px !important;
    line-height: 32px !important;
  }
  section#diversity #relative {
    left: -60px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  #sidebar-navigation {
    right: -95vw;
    width: 95vw;
  }
  #sidebar-navigation .header-menu-list {
    margin: 50px 40px 40px 40px;
  }
  #sidebar-navigation .header-menu-list li {
    font-size: 18px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header-menu-list {
    margin: 20px 40px 40px 40px !important;
  }
  .header-menu-list li {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
}
/*# sourceMappingURL=responsive.css.map */