@font-face {
  font-family: "Clarendon";
  src: url("../assets/fonts/URWClarendonT.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Source-sans-pro";
  src: url("../assets/fonts/SourceSansPro.ttf") format("ttf"); /* Pretty Modern Browsers */
}

@mixin mixinBG {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #404042;
  font-family: "Source-sans-pro", sans-serif;
}

button {
  border: 0px;
  outline: none;
}

.flex {
  display: flex;
}

.t-20 {
  font-size: 18px;
}

.clarendon {
  font-family: "Clarendon", sans-serif;
}

.source-sans-pro {
  font-family: "Source-sans-pro", sans-serif;
}

.text-white {
  color: white;
}

.text-green {
  color: #317851;
}

.text-blue {
  color: #008ec6;
}

.text-primary {
  color: #fcb331 !important;
}

.modal {
  background: rgba(30, 55, 98, 0.4) !important;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .xs-center-flex {
    justify-content: center !important;
  }
  .reverse-flow {
    flex-direction: column-reverse !important;
  }
  .xs-mb-lg {
    margin-bottom: 50px;
  }
}

.container-block {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

h2 {
  color: #c00000;
  font-size: 32px;
  font-family: "Clarendon", sans-serif;
  font-weight: 700;
}

.description {
  font-family: "Source-sans-pro", sans-serif;
  font-size: 17px;
}

.cst-btn {
  border: 2px solid #008ec6;
  border-radius: 3px;
  color: #008ec6;
  padding: 10px 28px;
  font-size: 12px;
  font-weight: 700;
  background: white;
  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.171);
    background: #008ec6;
    color: white;
  }
}

.header-navigation {
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  .container-block {
    max-width: 1366px !important;
  }
  img {
    padding: 10px 0;
  }
  .header-action {
    .flex {
      align-items: center;
    }
    .header-download-btn {
      height: 36px;
      width: 36px;
      border-radius: 100px;
      background-image: url(../assets/icons/header-download.svg);
      background-size: 32px;
      background-position: center;
      background-repeat: no-repeat;
      outline: none;
    }
    #open_sidebar {
      height: 50px;
      width: 50px;
      margin-left: 12px;
      background: transparent;
      background-image: url(../assets/icons/burger-menu.svg);
      background-size: 32px;
      outline: none;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

#sidebar-navigation {
  position: fixed;
  z-index: 10;
  right: -460px;
  top: 0px;
  width: 460px;
  background: #008ec6;
  height: 100vh;
  transition: right ease-out 0.2s;
  &.open {
    right: 0px;
    top: 0px;
    transition: right ease 0.5s;
  }
  #close_sidebar {
    margin: 24px;
    height: 30px;
    width: 30px;
    margin-left: 12px;
    background: transparent;
    background-image: url(../assets/icons/close.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-menu-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 60px 60px 40px 60px;
    li {
      cursor: pointer;
      line-height: 32px;
      color: #ffffff;
      font-size: 22px;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 23px;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        margin-bottom: 22.5px;
        color: #fcb331;
        border-bottom: 0.5px solid #fcb331;
      }
    }
  }
}

.firstbook-main-content {
  .intro-container {
    background: url("../assets/images/intro-cover.jpg");
    @include mixinBG();
    height: 100vh;
    .main-title {
      position: absolute;
      bottom: 100px;
      h1 {
        font-size: 66px;
        line-height: 70px;
      }
      h4 {
        font-size: 20px;
        margin-top: 24px;
      }
    }
    .block-decoration {
      position: absolute;
      bottom: 0px;
    }
  }
}

/* Section Ceo */

section#ceo {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url("../assets/backgrounds/background-a.svg");
  @include mixinBG();
  h2 {
    margin-bottom: 60px;
  }
  .block-ceo {
    max-width: 240px;
    width: 100%;
    margin-bottom: 40px;
    img {
      border-radius: 200px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
    .ceo-name {
      font-weight: 700;
      margin-top: 20px;
    }
    .ceo-role {
      font-size: 14px;
    }
  }
  .qoute {
    position: relative;
    font-size: 24px;
    font-style: italic;
    color: #404042;
    width: 100%;
    max-width: 670px;
    .qoute-icon {
      position: absolute;
      top: -10px;
      left: -10px;
      img {
        height: 80px;
      }
    }
  }
  .ceo-message {
    margin: 50px 0;
  }
  #more-content {
    display: none;
    &.more {
      display: block;
    }
  }
}

section#impact {
  background: url("../assets/backgrounds/background-b.svg");
  @include mixinBG();
  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .row {
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
  .d-flex {
    height: 100%;
  }
  .description {
    max-width: 620px;
    margin-bottom: 40px;
  }
  .counter-block {
    text-align: center;
    .counter-a {
      color: #317851;
      font-size: 30px;
    }
    .counter-b {
      color: #317851;
      font-size: 60px;
      font-weight: 900;
    }
  }
}

section#response {
  background: url("../assets/backgrounds/background-c.svg");
  @include mixinBG();
  .container-block {
    margin-bottom: 80px;
  }
  .response-item {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 300ms;
    }
  }
  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .description {
    max-width: 620px;
    margin-bottom: 40px;
  }
  .response-card {
    width: 100%;
    padding: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 2;
    .response-block {
      transition: all ease 300ms;
      border-left: 3.5px solid transparent;
      padding-left: 10px;
      z-index: 2;
      h3 {
        color: white;
        transition: all ease 300ms;
        margin-left: 4px;
      }
    }
    button {
      transition: all ease 300ms;
      background: transparent;
      color: transparent;
      font-size: 18px;
      outline: none;
    }
  }
  .overlay {
    background: rgb(30, 55, 98);
    background: linear-gradient(
      360deg,
      rgba(30, 55, 98, 0.9) 0%,
      rgba(0, 212, 255, 0) 100%
    );
    height: 50%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
  }
  .response-item {
    &:hover {
      img {
        transform: scale(1.1);
        transition: all ease 300ms;
      }
      .response-block {
        border-left: 3.5px solid #fcb331;
        transform: scale(1);
        h3 {
          margin-bottom: 35px;
          transition: all ease 300ms;
        }
        button {
          color: white;
        }
      }
      .overlay {
        background: rgb(30, 55, 98);
        background: linear-gradient(
          360deg,
          rgba(30, 55, 98, 1) 10%,
          rgba(0, 212, 255, 0) 100%
        );
        height: 100%;
      }
    }
  }

  /* Modal Section here */
  .modal-dialog {
    max-width: 1200px !important;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      outline: none;
    }
    .modal-content {
      position: relative;
      border-radius: 12px !important;
      b {
        font-weight: 500;
      }
      .right-img {
        #close_modal {
          height: 25px;
          width: 25px;
          background: transparent;
          background-image: url(../assets/icons/close.svg);
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 16px;
          right: 30px;
        }
      }

      .response-pad-block {
        padding: 60px 60px 80px 60px;
        font-size: 14.5px;
      }

      /* Extra Small Devices, Phones */
      @media only screen and (max-width: 992px) {
        .reverse-flow {
          flex-direction: column-reverse !important;
        }
        .response-pad-block {
          padding: 30px 30px 80px 30px;
        }
      }
    }
  }
}

section#parallax {
  background: url("../assets/backgrounds/background-c.svg");
  @include mixinBG();
  padding-top: 100px;
  .qoute {
    position: relative;
    font-size: 22px;
    font-style: italic;
    color: #404042;
    width: 100%;
    max-width: 460px;
    width: 100%;
    .qoute-icon {
      position: absolute;
      top: -10px;
      left: -10px;
      img {
        height: 80px;
      }
    }
  }
  .px-1 {
    img {
      width: 100%;
      height: auto;
    }
    .small-text {
      font-size: 14px;
    }
  }
}

section#tools {
  background: url("../assets/backgrounds/background-d.svg");
  @include mixinBG();
  padding-bottom: 100px;
  h2 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  .sub-intro {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 20px auto 20px auto;
  }
  .sub-max-container {
    max-width: 860px;
    margin: 0 auto;
    width: 100%;
    .tool-box {
      border: 2px solid #317851;
      border-radius: 22px;
      padding: 24px 30px;
      height: 100%;
      .number {
        font-size: 60px;
        font-weight: 900;
      }
      .tool-text {
        font-size: 14px;
        max-width: 200px;
      }
    }
    .tool-box-2 {
      border: 2px solid #317851;
      border-radius: 22px;
      padding: 24px 30px;
      .number {
        font-size: 48px;
        text-align: right;
        font-weight: 900;
        padding-right: 20px;
        line-height: 44px;
      }
      .tool-text {
        font-size: 14px;
        max-width: 240px;
      }
    }
  }

  .barriers {
    margin-top: 40px;
    h4 {
      font-weight: 900;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
    .barrier-num {
      font-size: 50px;
      font-weight: 900;
    }
    .barrier-text {
      font-size: 13px;
      font-weight: 600;
      opacity: 0.9;
    }
  }
}
